.profile-container {
    position: relative;
    aspect-ratio: 1.423;
    width: 100%;
    align-items: start;
    padding-left: 10px;
  } 
  
  .background-image {
    position: absolute;
    inset: 0;
    height: 220px;
    width: 425px;
    object-fit: cover;
    object-position: center;
  }
  
  .profile-picture {
    aspect-ratio: 0.96;
    object-fit: contain;
    object-position: center;
    width: 51px;
    border-radius: 50%;
  }
  
  .status-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    gap: 3px;
    flex: 1;
  }
  
  .status-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 29px;
    border-radius: 50%;
  }
  
  .status-indicator {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    width: 29px;
    height: 29px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

    .card {
        border-radius: 0;
        display: flex;
        max-width: 159px;
        padding: 10px 0 0 50px;
        flex-direction: column;
        color: rgba(26, 158, 117, 1);
        font: 600 14px Poppins, sans-serif;
    }

    .card-content {
        border-radius: 17px;
        background-color: rgba(240, 255, 250, 1);
        box-shadow: -2px -1px 5px rgba(41, 41, 41, 0.15);
        display: flex;
        gap: 4px;
        padding: 7px 25px;
        border: 1px solid rgba(255, 255, 255, 1);
    }

    .card-image {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 18px;
        align-self: start;
    }
.profile-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  border-radius: 50%;
  max-width: 51px;
}

.wallet-icon,.notification-icon,.share-icon{
    width: 37px;
    height: 32px;
    padding: 8px 3px 0 0;
}
.profile-icon-section{
    display: flex;
}
.profile-vector{
    position: absolute;
    margin: 35px 0 0 0;
    width: 15px;
    padding-left: 35px;
}
.top-bar{
    position: relative;
    display: flex;
    flex-direction: row;
}
.time{
    color: #fff;
    font-family: system-ui;
    font-size: 15px;
}
.signal{
    padding-left:270px;
}
.battery{
padding-left: 4px;
}

.services{    
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    width: 380px;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 0px 3px 3px 0px #C7C7C7;
}

.services h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #393939;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}

.services-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.services-items img{
    width: 28px;
    height: 28px;
}

.services-items p{
    margin: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
.icon-border{
    padding: 5px 2px 5px 2px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px #C7C7C7;
    display: flex;
    justify-content: center;
}
.Recharges{
    border:2px solid;
    border-radius:15px;
    margin-top:20px;
    color:#d6dcda;
    box-shadow: 0px 3px 3px 0px #C7C7C7;
    padding: 10px;
    width: 380px;
}
.Recharge-container h4{
        opacity: 0.5;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color:black;
        margin-top:-2px;
}
.Recharge-container h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #393939;
}
.Adding-Vehicle-Number{
     border:1px solid #1A9E75;
     height:37px;
     width:214px;
     border-radius:7px;
}

.Adding-Vehicle-Number h5{
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    bottom:11px;
    left:10px;
    color:#1A9E75;
}

.recharge-button h5{
    display:flex;
    opacity:1;
    justify-content:center;
    margin-top:-40px;
    padding-top:9px;
    border:1px solid #1A9E75;
    border-radius:10px;
    color:#ecf2f0;
    background-color: #1A9E75;
    height:29px;
    width:82px;
    margin-left:225px;
    font-family: Arial, Helvetica, sans-serif;
}

.promoted-text h5{
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 500;
      opacity:0.8;
      color:black;
}

.promoted-img1{
      display: flex;
      justify-content: center;
      position: relative;
      bottom:58px;
      right:90px;
}

.promoted-img2{
    display:flex;
    justify-content: center;
    position: relative;
    bottom:101px;
    right:38px;
}
.border-line{
    height:3px;
    width:335px;
    position: relative;
    bottom:70px;
    left:17px;
    border-radius:10px;
    box-shadow: 0px 3px 3px 0px #C7C7C7;
}

.Discover-items h4{
      position: relative;
      bottom:44px;
      left:4px;
      font-weight:500;
      font-size:20px;
      opacity:1;
}
.Discover-items h3{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #393939;
    bottom:44px;
}


.Discover-grid-items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:3px;
}
.Discover-icon-items p{
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-top:16px;
    margin-left:2px;
}

.Discover-icon-items{
    height:39px;
    width:44px;
    position:relative;
    bottom:48px;
    background-color:#F0FFFA;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 9px;
}

.adding-money{
    width: 400px;
    height: 210px;
    background-image:linear-gradient(#1A9E75 ,#1A9E75  ,#A6A765 );
    border-radius:10px;
    margin-top: 10px; 
}

.cashback-item, h4{
     color:#ecf2f0;
     font-size:18px;
     margin-left:13px;
     padding-top:11px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.discount-item {
    color:rgb(241, 236, 236);
    margin-left:25px;
    position:relative;
    bottom:15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.money-button{
    height:30px;
    width:130px;
    margin-left:26px;
    border-radius:13px;
    background-color:white;
}
.money-button p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#1A9E75;
    font-size: 14px;
    margin-left: 27px;
    font-weight: 600;
    position: relative;
    top:5px;
}
.money-transfer-image{
    position: relative;
    left:250px;
    bottom:105px;
}
.three-dots{
    text-align:center;
    margin-top:18px;
    margin-left:61px;
}
.dot1{
   height:20px;
   width:20px;
   background-color: #1A9E75;
   border-radius:50%;
   display: inline-block;
}
.dot2{
    height:20px;
    width:20px;
    background-color: #d6dcda;
    border-radius:50%;
    display: inline-block;
}
.dot3{
    height:20px;
    width:20px;
    background-color:#d6dcda;
    border-radius:50%;
    display: inline-block;
}