body {
    font-family: 'Poppins';
}

.profile-container {
    position: relative;
    aspect-ratio: 1.423;
    width: 100%;
    align-items: start;
    padding-left: 10px;
  } 
  
  .background-image {
    position: absolute;
    inset: 0;
    height: 220px;
    width: 425px;
    object-fit: cover;
    object-position: center;
  }
  
  .profile-picture {
    aspect-ratio: 0.96;
    object-fit: contain;
    object-position: center;
    width: 51px;
    border-radius: 50%;
  }
  
  .status-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    gap: 3px;
    flex: 1;
  }
  
  .status-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 29px;
    border-radius: 50%;
  }
  
  .status-indicator {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    width: 29px;
    height: 29px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

    .card {
        border-radius: 0;
        display: flex;
        max-width: 159px;
        padding: 10px 0 0 50px;
        flex-direction: column;
        color: rgba(26, 158, 117, 1);
        font: 600 14px Poppins, sans-serif;
    }

    .card-content {
        border-radius: 17px;
        background-color: rgba(240, 255, 250, 1);
        box-shadow: -2px -1px 5px rgba(41, 41, 41, 0.15);
        display: flex;
        gap: 4px;
        padding: 7px 25px;
        border: 1px solid rgba(255, 255, 255, 1);
    }

    .card-image {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 18px;
        align-self: start;
    }
.profile-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  border-radius: 50%;
  max-width: 51px;
}

.wallet-icon,.notification-icon,.share-icon{
    width: 37px;
    height: 32px;
    padding: 8px 3px 0 0;
}
.profile-icon-section{
    display: flex;
}
.profile-vector{
    position: absolute;
    margin: 35px 0 0 0;
    width: 15px;
    padding-left: 35px;
}
.top-bar{
    position: relative;
    display: flex;
    flex-direction: row;
}
.time{
    color: #fff;
    /*font-family: system-ui;*/
    font-size: 15px;
}
.signal{
    padding-left:270px;
}
.battery{
padding-left: 4px;
}

.services{    
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    width: 380px;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 0px 3px 3px 0px #C7C7C7;
}

.services h3{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */font-weight: 500;
    font-size: 16px;
    color: #393939;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}

.services-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.services-items img{
    width: 28px;
    height: 28px;
}

.services-items p{
    margin: 5px;
    /*font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */font-size: 12px;
    color:#434343;
    ;
}
.icon-border{
    padding: 5px 2px 5px 2px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px #C7C7C7;
    display: flex;
    justify-content: center;
}
.Recharges{
    border:2px solid;
    border-radius:15px;
    margin-top:20px;
    color:#d6dcda;
    box-shadow: 0px 3px 3px 0px #C7C7C7;
    padding: 10px;
    width: 380px;
}
.Recharge-container h4{
        opacity: 0.5;
        /*font-family: Arial, Helvetica, sans-serif;*/
        font-size: 16px;
        color:black;
        margin-top:-2px;
}
.Recharge-container h3{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */font-weight: 500;
    font-size: 16px;
    color: #393939;
}
.Adding-Vehicle-Number{
     border:1px solid #1A9E75;
     height:37px;
     width: 224px;
     border-radius:7px;
}

.Adding-Vehicle-Number h5{
   /* font-family:Arial, Helvetica, sans-serif;*/
    position: relative;
    color:#1A9E75;
    margin: 10px;
}

.recharge-button h5{
    display:flex;
    opacity:1;
    justify-content:center;
    margin-top:-40px;
    padding-top:9px;
    border:1px solid #1A9E75;
    border-radius:10px;
    color:#ecf2f0;
    background-color: #1A9E75;
    height:29px;
    width:82px;
    margin-left:235px;
   /* font-family: Arial, Helvetica, sans-serif;*/
}

.promoted-text h5{
     /* font-family:Arial, Helvetica, sans-serif;*/
      font-weight: 500;
      opacity:0.8;
      color:#434343;
}

.promoted-img1{
      display: flex;
      justify-content: center;
      position: relative;
      bottom:58px;
      right:80px;
}

.promoted-img2{
    display:flex;
    justify-content: center;
    position: relative;
    bottom:101px;
    right:20px;
}
.border-line{
    height:3px;
    width:335px;
    position: relative;
    bottom:70px;
    left:17px;
    border-radius:10px;
    box-shadow: 0px 3px 3px 0px #C7C7C7;
}

.Discover-items h4{
      position: relative;
      bottom:44px;
      left:4px;
      font-weight:500;
      font-size:20px;
      opacity:1;
}
.Discover-items h3{
    position: relative;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */font-weight: 500;
    font-size: 16px;
    color: #393939;
    bottom:44px;
}


.Discover-grid-items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:3px;
}
.Discover-icon-items p{
    color:#393939;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */font-size: 12px;
    margin-top:16px;
    margin-left:2px;
}

.Discover-icon-items{
    height:39px;
    width:44px;
    position:relative;
    bottom:48px;
    background-color:#F0FFFA;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 9px;
}

.adding-money{
    width: 400px;
    height: 210px;
    background-image:linear-gradient(#1A9E75 ,#1A9E75  ,#A6A765 );
    border-radius:10px;
    margin-top: 10px; 
}

.cashback-item h4{
     color:#ecf2f0;
     font-size:18px;
     margin-left:13px;
     padding-top:11px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}
.discount-item {
    color:rgb(241, 236, 236);
    margin-left:25px;
    position:relative;
    bottom:15px;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}
.money-button{
    height:30px;
    width:130px;
    margin-left:26px;
    border-radius:13px;
    background-color:white;
}
.money-button p{
   /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */color:#1A9E75;
    font-size: 14px;
    margin-left: 27px;
    font-weight: 600;
    position: relative;
    top:5px;
}
.money-transfer-image{
    position: relative;
    left:250px;
    bottom:105px;
}
.three-dots{
    text-align:center;
    margin-top:18px;
    margin-left:61px;
    width: 280px;
}
.dot1{
   height:20px;
   width:20px;
   background-color: #1A9E75;
   border-radius:50%;
   display: inline-block;
}
.dot2{
    height:20px;
    width:20px;
    background-color: #d6dcda;
    border-radius:50%;
    display: inline-block;
}
.dot3{
    height:20px;
    width:20px;
    background-color:#d6dcda;
    border-radius:50%;
    display: inline-block;
}

.others-container{
       border-radius: 15px;
       position: relative;
       width: 380px;
       height: 145px;
       padding: 10px;
       margin-top: 40px;
       box-shadow: 2px 3px 3px 3px #C7C7C7;
}
.others-container h3{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */font-weight: 500;
    font-size: 16px;
    color: #393939;
    position: relative;
   }
.others-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}

.other-icon-items{
    display:flex;
    flex-direction:column;
    text-align:center;
    border-radius:9px;
    height: 39px;
    width: 72px;
    position: relative;
    background-color: #fff;
}
.other-icon-items p{
    font-size:12px;
    opacity: 0.9;
    height:20px;
    color:#434343;
}  
.deals-container h3{
    color:#393939;
    margin-left:5px;
} 
.deals-for-you img{
    width: 395px;
    height: 159px;
}
.travel-container{
    height: 145px;
    width : 380px;
    padding: 9px;
    margin-top: 40px;
    box-shadow: 2px 3px 3px 3px #C7C7C7;
    border-radius: 12px;
}
.travel-container h3{
    color:#393939;
    margin-left: 5px;
    position:relative;
    bottom:13px;

}
.travel-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}

.travel-icon-items{
    display:flex;
    flex-direction:column;
    text-align:center;
    border-radius:9px;
    height: 39px;
    width: 63px;
    background-color: #F0FFFA;
    margin-left:10px;
}
.travel-icon-items p{
    font-size:11px;
    height:35px;
    width:72px;
    color:#434343;
}
.travel-items{
    margin-top:6px;
}
.travel-items img{
    height:27px;
    width:27px;
}

.plan-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.premium-plan-container{
 width: 380px;
}
.premium-plan-container h3{
    color: #393939;
    margin-left: 12px;
    position: relative;
}
.premium-plan{
    background-image: linear-gradient(#48C9A1, #199E75);
    border-radius: 35px;
    width: 350px;
}
.plan-context h2 {
    color: #FBFF29;
    margin-left: 16px;
    font-size: 20px;
    position: relative;
}

.plan-context p{
    color: #FFFFFF;
    margin-left: 18px;
    position: relative;
    bottom: 6px;
    font-size: 11px;
    font-weight: 400;
}
.button-car{
    display: flex;
    flex-direction: row;
}

.explorenow-btn{
    width: 100px;
    height: 30px;
    border-radius: 23px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-left: 18px;
    position: relative;
    font-size: 12px;
}

.car-image img{
    height: 46px;
    width: 46px;
    bottom: 15px;
    left: 10px;
    position: relative;
}

.recharge-bill-container{
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    width: 380px;
    height: 230px;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0px 3px 3px 0px #C7C7C7;
}
.recharge-bill-container h3{
    font-weight: 500;
    font-size: 16px;
    color: #393939;
}
.recharge-bill-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}
.recharge-bill-items{
    display:flex;
    flex-direction:column;
    text-align:center;
    border-radius:28px;
    margin-left:10px;
    height:84px;
    width:49px;
}
.recharge-bill-items img{
    width: 23px;
    height: 30px;
    background-color: #F0FFFA;
}

.recharge-bill-items p{
    margin: 5px;
    font-size: 12px;
    color:#434343;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.recharge-bill-icon{
    padding: 5px 2px 5px 2px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px 0px #C7C7C7;
    display: flex;
    justify-content: center;
    background-color: #F0FFFA;
}
.rechargeoffer-context{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin-top: 10px;
}
.recharge-items{
    background-image: linear-gradient(149.13deg, #1A9E75 11.49%, #27CD99 92.3%);
    border-radius: 20px;
    width: 245px;
    height:130px;

}
.recharge h4{
    color:#FBFF29;
    margin-left:20px;
    position: relative;
    bottom:10px;
}
.recharge h3{
    color:#F0FFFA;
    position: relative;
    bottom: 32px;
    left: 20px;
    font-weight: 500;
    font-size: 20px;
}
.recharge p{
    color:#F0FFFA;
    position: relative;
    font-size:8px;
    bottom:48px;
    left:20px;

}

.rechargenow-btn{
    width: 85px;
    height: 25px;
    border-radius: 23px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-left: 18px;
    position: relative;
    font-size: 10px;
    bottom: 47px;
    color: #393939;
}
.rechargeimg{
    position: relative;
    bottom: 43px;
    left: 22px;
}
.recharge-btn{
    display: flex;
    flex-direction: row;
}
.parkingslotimg{
    margin-left:20px;
}
/* .petrolpump-img{
    background:linear-gradient( #08D092 7.28% ,#06593D 109.9%,), url(/images/petrolpump.png) no-repeat top center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 400px 200px;
    border-radius: 9px;
    overflow: hidden;
} */
/* .trendingplan-items{
    background-image: linear-gradient(170.33deg, #08D092 7.28%, #06593D 109.9%);
    background-size: cover;
    border-radius:15px;
    width:396px;
    height:210px;
} */
.trendingplan-context h3{
    color: #FBFF29;
    font-weight: 400;
    font-size: 30px;
    margin-left: 24px;
    padding-bottom:65px;
}
.trendingplan-context h4{
    color:#F0FFFA;
    position: relative;
    bottom:94px;
    left:24px;
    font-size:20px;
    font-weight: 300;
}
.trendingplan-context p{
    color:#F0FFFA;
    font-size:15px;
    position: relative;
    bottom:110px;
    left:24px;
}
.trendingplan-context img{
    filter: brightness(150%);
}

.petrolpump-img {
    width:396px;
    height:235px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-image:linear-gradient(0deg, rgba(36, 161, 122, 0.6), rgb(6, 89, 61,1.0)),url("/images/petrolpump.png"); 
    display:flex;
    align-items:center;
}
.customer-icons img{
    position: relative;
    top:55px;
    right:20px;
}

.customer-context h3{
    color:#d6dcda;
    font-size: 20px;
    margin-top:135px;
    margin-right:28px;
    padding-right:18px;
    position: relative;
    right:15px;
}
.customer-context p{
    color:#C7C7C7;
    font-size: 10px;
    position: relative;
    bottom:22px;
    right:20px;
}
.bar-icons{
    display:flex;
    flex-direction: column;
}
.rectangle-bar{
    height:6px;
    width:94px;
    position: relative;
    bottom: 15px;
    left:180px;
    background-color: #F0FFFA;
}
.icon-bar{
    height:4px;
    width:30px;
    border-radius: 2px;
    background-color: #1A9E75;
    position: relative;
    right:28px;
    top:1px;
    left:4px;
    /* justify-content: flex-start;
    display: flex;*/
} 


.exclusive-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.mobile-container h3{
 color:#393939;
 margin-left:5px;
}
.mobile-background{
    background-image: linear-gradient(180deg, #9EFFE1 0%, #E9FFF8 100%);
    width:410px;
    height:170px;
    border-radius:20px;

}
.mobile-display img{
      width:90px;
      height:130px;
      margin-left:160px;
      margin-top: 20px;
}
.play-btn img{
    width: 24px;
    height: 24px;
    position: relative;
    left: 45%;
    bottom: 85px;
}